:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#app {
  padding: 20px 0;
}

.leaf {
  padding-left: 20px;
  cursor: default;
}

.node {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

.node::before {
  content: '+';
  display: block;
  position: absolute;
  left: 8px;
}

.node_isOpen::before {
  content: '-';
}

.children {
  display: none;
}

.node_isOpen > .children {
  display: block;
}
